{:paths ["src" "resources"]
 
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}
 
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        cljfx/cljfx {:mvn/version "1.10.6"}
        com.github.hervegirod/fxsvgimage {:mvn/version "1.4"}}
 
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {org.openjfx/javafx-base$win {:mvn/version "22"}
                org.openjfx/javafx-controls$win {:mvn/version "22"}
                org.openjfx/javafx-graphics$win {:mvn/version "22"}
                org.openjfx/javafx-swing$win {:mvn/version "22"}}}
  
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
          slipset/deps-deploy {:mvn/version "0.2.1"}}
   :ns-default build}}}
