{:paths ["src" "resources"]
 
 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}
 
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        cljfx/cljfx {:mvn/version "1.10.6"}
        com.github.hervegirod/fxsvgimage {:mvn/version "1.4"}}
 
 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {org.openjfx/javafx-base$win {:mvn/version "22"}
                org.openjfx/javafx-controls$win {:mvn/version "22"}
                org.openjfx/javafx-graphics$win {:mvn/version "22"}
                org.openjfx/javafx-swing$win {:mvn/version "22"}}}
  
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                org.openjfx/javafx-base$win {:mvn/version "22"}
                org.openjfx/javafx-controls$win {:mvn/version "22"}
                org.openjfx/javafx-graphics$win {:mvn/version "22"}
                org.openjfx/javafx-swing$win {:mvn/version "22"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
          slipset/deps-deploy {:mvn/version "0.2.1"}}
   :ns-default build}}}
